In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

cricket_df=pd.read_csv("cricket.csv")
print(cricket_df)

      Unnamed: 0                       Player       Span  Mat Inns  NO   Runs  \
0              0         SR Tendulkar (INDIA)  1989-2012  463  452  41  18426
1              1  KC Sangakkara (Asia/ICC/SL)  2000-2015  404  380  41  14234
2              2         RT Ponting (AUS/ICC)  1995-2012  375  365  39  13704
3              3      ST Jayasuriya (Asia/SL)  1989-2011  445  433  18  13430
4              4   DPMD Jayawardene (Asia/SL)  1998-2015  448  418  39  12650
...          ...                          ...        ...  ...  ...  ..    ...
2495          45              ZS Ansari (ENG)  2015-2015    1    -   -      -
2496          46         Ariful Haque (BDESH)  2018-2018    1    -   -      -
2497          47           Ashfaq Ahmed (PAK)  1994-1994    3    -   -      -
2498          48               MD Bailey (NZ)  1998-1998    1    -   -      -
2499          49               GR Beard (AUS)  1981-1981    2    -   -      -

        HS    Ave     BF     SR 100  50   0  Unnamed: 13
0     200*  44.83  21367  86.23  49  96  20          NaN
1      169  41.98  18048  78.86  25  93  15          NaN
2      164  42.03  17046  80.39  30  82  20          NaN
3      189  32.36  14725   91.2  28  68  34          NaN
4      144  33.37  16020  78.96  19  77  28          NaN
...    ...    ...    ...    ...  ..  ..  ..          ...
2495     -      -      -      -   -   -   -          NaN
2496     -      -      -      -   -   -   -          NaN
2497     -      -      -      -   -   -   -          NaN
2498     -      -      -      -   -   -   -          NaN
2499     -      -      -      -   -   -   -          NaN

[2500 rows x 15 columns]

In [7]:
print(list(cricket_df.columns))

['Unnamed: 0', 'Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '0', 'Unnamed: 13']

In [8]:
cricket_df.drop(['Unnamed: 0','Unnamed: 13'],axis=1,inplace=True)
print(cricket_df.head())

                        Player       Span  Mat Inns  NO   Runs    HS    Ave  \
0         SR Tendulkar (INDIA)  1989-2012  463  452  41  18426  200*  44.83
1  KC Sangakkara (Asia/ICC/SL)  2000-2015  404  380  41  14234   169  41.98
2         RT Ponting (AUS/ICC)  1995-2012  375  365  39  13704   164  42.03
3      ST Jayasuriya (Asia/SL)  1989-2011  445  433  18  13430   189  32.36
4   DPMD Jayawardene (Asia/SL)  1998-2015  448  418  39  12650   144  33.37

      BF     SR 100  50   0
0  21367  86.23  49  96  20
1  18048  78.86  25  93  15
2  17046  80.39  30  82  20
3  14725   91.2  28  68  34
4  16020  78.96  19  77  28

In [9]:
df=cricket_df

In [10]:
print(df)

                           Player       Span  Mat Inns  NO   Runs    HS  \
0            SR Tendulkar (INDIA)  1989-2012  463  452  41  18426  200*
1     KC Sangakkara (Asia/ICC/SL)  2000-2015  404  380  41  14234   169
2            RT Ponting (AUS/ICC)  1995-2012  375  365  39  13704   164
3         ST Jayasuriya (Asia/SL)  1989-2011  445  433  18  13430   189
4      DPMD Jayawardene (Asia/SL)  1998-2015  448  418  39  12650   144
...                           ...        ...  ...  ...  ..    ...   ...
2495              ZS Ansari (ENG)  2015-2015    1    -   -      -     -
2496         Ariful Haque (BDESH)  2018-2018    1    -   -      -     -
2497           Ashfaq Ahmed (PAK)  1994-1994    3    -   -      -     -
2498               MD Bailey (NZ)  1998-1998    1    -   -      -     -
2499               GR Beard (AUS)  1981-1981    2    -   -      -     -

        Ave     BF     SR 100  50   0
0     44.83  21367  86.23  49  96  20
1     41.98  18048  78.86  25  93  15
2     42.03  17046  80.39  30  82  20
3     32.36  14725   91.2  28  68  34
4     33.37  16020  78.96  19  77  28
...     ...    ...    ...  ..  ..  ..
2495      -      -      -   -   -   -
2496      -      -      -   -   -   -
2497      -      -      -   -   -   -
2498      -      -      -   -   -   -
2499      -      -      -   -   -   -

[2500 rows x 13 columns]

In [11]:
# Split 'Player' column by the first occurrence of '('
df[['Name', 'Country']] = df['Player'].str.split(r'\s*\(', n=1, expand=True)

# Fill missing values in 'Country' column with an empty string or appropriate value
df['Country'] = df['Country'].fillna('').str.rstrip(')')

# If you want to re-add parentheses for rows that have a country
#df['Country'] = df['Country'].apply(lambda x: f'({x})' if x else '')

print(df)

                           Player       Span  Mat Inns  NO   Runs    HS  \
0            SR Tendulkar (INDIA)  1989-2012  463  452  41  18426  200*
1     KC Sangakkara (Asia/ICC/SL)  2000-2015  404  380  41  14234   169
2            RT Ponting (AUS/ICC)  1995-2012  375  365  39  13704   164
3         ST Jayasuriya (Asia/SL)  1989-2011  445  433  18  13430   189
4      DPMD Jayawardene (Asia/SL)  1998-2015  448  418  39  12650   144
...                           ...        ...  ...  ...  ..    ...   ...
2495              ZS Ansari (ENG)  2015-2015    1    -   -      -     -
2496         Ariful Haque (BDESH)  2018-2018    1    -   -      -     -
2497           Ashfaq Ahmed (PAK)  1994-1994    3    -   -      -     -
2498               MD Bailey (NZ)  1998-1998    1    -   -      -     -
2499               GR Beard (AUS)  1981-1981    2    -   -      -     -

        Ave     BF     SR 100  50   0              Name      Country
0     44.83  21367  86.23  49  96  20      SR Tendulkar        INDIA
1     41.98  18048  78.86  25  93  15     KC Sangakkara  Asia/ICC/SL
2     42.03  17046  80.39  30  82  20        RT Ponting      AUS/ICC
3     32.36  14725   91.2  28  68  34     ST Jayasuriya      Asia/SL
4     33.37  16020  78.96  19  77  28  DPMD Jayawardene      Asia/SL
...     ...    ...    ...  ..  ..  ..               ...          ...
2495      -      -      -   -   -   -         ZS Ansari          ENG
2496      -      -      -   -   -   -      Ariful Haque        BDESH
2497      -      -      -   -   -   -      Ashfaq Ahmed          PAK
2498      -      -      -   -   -   -         MD Bailey           NZ
2499      -      -      -   -   -   -          GR Beard          AUS

[2500 rows x 15 columns]

In [12]:
df[['firstname','surname']]=df['Name'].str.split(' ',n=1,expand=True)
print(df.head())

                        Player       Span  Mat Inns  NO   Runs    HS    Ave  \
0         SR Tendulkar (INDIA)  1989-2012  463  452  41  18426  200*  44.83
1  KC Sangakkara (Asia/ICC/SL)  2000-2015  404  380  41  14234   169  41.98
2         RT Ponting (AUS/ICC)  1995-2012  375  365  39  13704   164  42.03
3      ST Jayasuriya (Asia/SL)  1989-2011  445  433  18  13430   189  32.36
4   DPMD Jayawardene (Asia/SL)  1998-2015  448  418  39  12650   144  33.37

      BF     SR 100  50   0              Name      Country firstname  \
0  21367  86.23  49  96  20      SR Tendulkar        INDIA        SR
1  18048  78.86  25  93  15     KC Sangakkara  Asia/ICC/SL        KC
2  17046  80.39  30  82  20        RT Ponting      AUS/ICC        RT
3  14725   91.2  28  68  34     ST Jayasuriya      Asia/SL        ST
4  16020  78.96  19  77  28  DPMD Jayawardene      Asia/SL      DPMD

       surname
0    Tendulkar
1   Sangakkara
2      Ponting
3   Jayasuriya
4  Jayawardene

In [13]:
df['Country']=df['Country'].str.split("/")
print(df.head(5))

                        Player       Span  Mat Inns  NO   Runs    HS    Ave  \
0         SR Tendulkar (INDIA)  1989-2012  463  452  41  18426  200*  44.83
1  KC Sangakkara (Asia/ICC/SL)  2000-2015  404  380  41  14234   169  41.98
2         RT Ponting (AUS/ICC)  1995-2012  375  365  39  13704   164  42.03
3      ST Jayasuriya (Asia/SL)  1989-2011  445  433  18  13430   189  32.36
4   DPMD Jayawardene (Asia/SL)  1998-2015  448  418  39  12650   144  33.37

      BF     SR 100  50   0              Name          Country firstname  \
0  21367  86.23  49  96  20      SR Tendulkar          [INDIA]        SR
1  18048  78.86  25  93  15     KC Sangakkara  [Asia, ICC, SL]        KC
2  17046  80.39  30  82  20        RT Ponting       [AUS, ICC]        RT
3  14725   91.2  28  68  34     ST Jayasuriya       [Asia, SL]        ST
4  16020  78.96  19  77  28  DPMD Jayawardene       [Asia, SL]      DPMD

       surname
0    Tendulkar
1   Sangakkara
2      Ponting
3   Jayasuriya
4  Jayawardene

In [14]:
# Check the shape of the dataset
print(f"Dataset shape: {df.shape}")

# Check the data types of each column
print("\nData types:\n",df.dtypes)

# Summary statistics for numerical columns
print("\nSummary Statistics:\n",df.describe())

# Checking for missing values
print("\nMissing Values:\n",df.isnull().sum())

df=df['surname'].fillna('Unknown')

print("\nMissing Values:\n",df.isnull().sum())

Dataset shape: (2500, 17)

Data types:
 Player       object
Span         object
Mat           int64
Inns         object
NO           object
Runs         object
HS           object
Ave          object
BF           object
SR           object
100          object
50           object
0            object
Name         object
Country      object
firstname    object
surname      object
dtype: object

Summary Statistics:
                Mat
count  2500.000000
mean     37.161600
std      58.885075
min       1.000000
25%       4.000000
50%      13.000000
75%      43.000000
max     463.000000

Missing Values:
 Player        0
Span          0
Mat           0
Inns          0
NO            0
Runs          0
HS            0
Ave           0
BF            0
SR            0
100           0
50            0
0             0
Name          0
Country       0
firstname     0
surname      22
dtype: int64

Missing Values:
 0

In [3]:
df['Runs']=df['Runs'].astype(int)
sns.histplot(x='Runs',data=df)
plt.show()

NameError: name 'df' is not defined

In [ ]:
# Visualize the distribution of a numerical column (e.g., 'Runs')
plt.figure(figsize=(10, 6))
sns.histplot(df['Runs'], kde=True)
plt.title('Distribution of Runs')
plt.show()

In [ ]:
#plt.figure(figsize=(10, 6))
sns.scatterplot(x='Runs', y='Inns', data=df)
plt.title('Runs vs Average')
plt.show()