In [14]:
import pandas as pd

# Load the dataset
df = pd.read_csv('cricket.csv')

# Get basic information about the dataset
df.info()

# Preview the first few rows of the dataset
df.head()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2500 non-null   int64
 1   Player       2500 non-null   object
 2   Span         2500 non-null   object
 3   Mat          2500 non-null   int64
 4   Inns         2500 non-null   object
 5   NO           2500 non-null   object
 6   Runs         2500 non-null   object
 7   HS           2500 non-null   object
 8   Ave          2500 non-null   object
 9   BF           2500 non-null   object
 10  SR           2500 non-null   object
 11  100          2500 non-null   object
 12  50           2500 non-null   object
 13  0            2500 non-null   object
 14  Unnamed: 13  0 non-null      float64
dtypes: float64(1), int64(2), object(12)
memory usage: 293.1+ KB

Unnamed: 0        0
Player            0
Span              0
Mat               0
Inns              0
NO                0
Runs              0
HS                0
Ave               0
BF                0
SR                0
100               0
50                0
0                 0
Unnamed: 13    2500
dtype: int64

In [15]:
# Ensure that 'HS' is treated as a string before applying the replace method
# This handles cases where 'HS' might have missing (None/NaN) values
df['HS'] = df['HS'].astype(str).str.replace('*', '', regex=False).replace('-', np.nan)

# Convert 'HS' to numeric, with errors='coerce' to handle non-convertible entries
df['HS'] = pd.to_numeric(df['HS'], errors='coerce')

# Verify the result
df['HS'].head()

0    200.0
1    169.0
2    164.0
3    189.0
4    144.0
Name: HS, dtype: float64

In [16]:
# Drop the unnamed column
df = df.drop(['Unnamed: 0','Unnamed: 13'],axis=1,inplace=True)
import numpy as np

# Replace '-' with NaN for columns where '-' is found
df.replace('-', np.nan, inplace=True)

# Convert columns with numeric data to proper numeric types
df['Inns'] = pd.to_numeric(df['Inns'], errors='coerce')
df['NO'] = pd.to_numeric(df['NO'], errors='coerce')
df['Runs'] = pd.to_numeric(df['Runs'], errors='coerce')
df['HS'] = df['HS'].str.replace('*', '', regex=False).replace('-', np.nan).astype(float)  # Remove asterisk in HS
df['HS'] = pd.to_numeric(df['HS'], errors='coerce')

df['Ave'] = pd.to_numeric(df['Ave'], errors='coerce')
df['BF'] = pd.to_numeric(df['BF'], errors='coerce')
df['SR'] = pd.to_numeric(df['SR'], errors='coerce')
df['100'] = pd.to_numeric(df['100'], errors='coerce')
df['50'] = pd.to_numeric(df['50'], errors='coerce')
df['0'] = pd.to_numeric(df['0'], errors='coerce')

# Verify the data cleaning process
df.info()

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# Check for missing values
df.isnull().sum()

# Fill missing values in columns where appropriate
df['Ave'].fillna(df['Ave'].mean(), inplace=True)