In [5]:
import pandas as pd
data=pd.read_csv('titanic.csv')

print(data.head(7))
print(data.tail(3))
print(data.isnull().sum())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
     PassengerId  Survived  Pclass                                      Name  \
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
import numpy as np

class GDRegressor:
    
    def __init__(self, learning_rate=0.01, epochs=1000):
        self.m = 100  # Initial slope
        self.b = -120  # Initial intercept
        self.lr = learning_rate
        self.epochs = epochs
        
    def fit(self, X, y):
        # Gradient Descent Algorithm
        n = len(X)  # Number of data points
        for i in range(self.epochs):
            # Calculate the gradients (derivatives of the loss function)
            loss_slope_b = -2 * np.sum(y - self.m * X.ravel() - self.b) / n
            loss_slope_m = -2 * np.sum((y - self.m * X.ravel() - self.b) * X.ravel()) / n
            
            # Update the parameters m and b
            self.b = self.b - (self.lr * loss_slope_b)
            self.m = self.m - (self.lr * loss_slope_m)
            
            # (Optional) Print the loss every 100 epochs
            # if i % 100 == 0:
            #     loss = np.mean((y - (self.m * X + self.b)) ** 2)
            #     print(f"Epoch {i}, Loss: {loss}, m: {self.m}, b: {self.b}")
                
        print(f"Final parameters: m = {self.m}, b = {self.b}")
        
    def predict(self, X):
        return self.m * X + self.b

# Example usage
if __name__ == "__main__":
    # Sample data (simple linear relationship y = 2x + 3)
    X = np.array([1, 2, 3, 4, 5]).reshape(-1, 1)
    y = np.array([5, 7, 9, 11, 13])

    # Initialize the regressor
    regressor = GDRegressor(learning_rate=0.01, epochs=1000)

    # Fit the model to the data
    regressor.fit(X, y)

    # Make predictions
    X_test = np.array([6, 7, 8]).reshape(-1, 1)
    predictions = regressor.predict(X_test)
    print(f"Predictions: {predictions}")

Final parameters: m = 3.306291312520616, b = -1.716126122188373
Predictions: [[18.12162175]
 [21.42791307]
 [24.73420438]]

In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder


data = {
    'Color': ['Blue', 'Green', 'Red', 'Green', 'Red'],
    'Size': ['L', 'M', 'S', 'XL', 'M'],
    'Price': [100, 150, 200, 120, 180]
}
df = pd.DataFrame(data)


print("Original DataFrame:")
print(df)


le = LabelEncoder()


df['Color'] = le.fit_transform(df['Color'])
df['Size'] = le.fit_transform(df['Size'])


print("\nDataFrame after Label Encoding:")
print(df)

Original DataFrame:
   Color Size  Price
0   Blue    L    100
1  Green    M    150
2    Red    S    200
3  Green   XL    120
4    Red    M    180

DataFrame after Label Encoding:
   Color  Size  Price
0      0     0    100
1      1     1    150
2      2     2    200
3      1     3    120
4      2     1    180

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [9]:
data = {
    'Color': ['Blue', 'Green', 'Red', 'Green', 'Red'],
    'Size': ['L', 'M', 'S', 'XL', 'M'],
    'Price': [100, 150, 200, 120, 180]
}

In [10]:
df=pd.DataFrame(data)

In [11]:
print(df)

   Color Size  Price
0   Blue    L    100
1  Green    M    150
2    Red    S    200
3  Green   XL    120
4    Red    M    180

In [12]:
mapping = {'Red': 0, 'Blue': 1, 'Green': 2,'S':32,"M":38,'L':42,'XL':46}

In [13]:
df["data_colorid"]= df["Color"].map(mapping)

In [14]:
print(df)

   Color Size  Price  data_colorid
0   Blue    L    100             1
1  Green    M    150             2
2    Red    S    200             0
3  Green   XL    120             2
4    Red    M    180             0

In [15]:

# df['size_encoded'] = df['Size'].map(mapping)

# print(df)

In [16]:
# Automatically encode using pandas' factorize()
df['size_encoded'], uniques = pd.factorize(df['Size'])

print(df)
print(f"Unique labels: {uniques}")

   Color Size  Price  data_colorid  size_encoded
0   Blue    L    100             1             0
1  Green    M    150             2             1
2    Red    S    200             0             2
3  Green   XL    120             2             3
4    Red    M    180             0             1
Unique labels: Index(['L', 'M', 'S', 'XL'], dtype='object')

In [17]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
le = LabelEncoder()

# Apply to 'Sex' column
df['Size_encoded'] = le.fit_transform(df['Size'])

# View the encoded column
print(df[['Size', 'Size_encoded']].head())
print(df)

  Size  Size_encoded
0    L             0
1    M             1
2    S             2
3   XL             3
4    M             1
   Color Size  Price  data_colorid  size_encoded  Size_encoded
0   Blue    L    100             1             0             0
1  Green    M    150             2             1             1
2    Red    S    200             0             2             2
3  Green   XL    120             2             3             3
4    Red    M    180             0             1             1

In [18]:
import numpy as np

In [19]:
no_row=1000
no_col=10

data=np.random.rand(no_row,no_col)
columns=[f"column_{i}" for i in range(1,no_col+1)]
df=pd.DataFrame(data,columns=columns)

In [20]:
print(df)

     column_1  column_2  column_3  column_4  column_5  column_6  column_7  \
0    0.696303  0.283460  0.157488  0.256153  0.642003  0.813592  0.657691
1    0.424967  0.295314  0.682972  0.105784  0.053497  0.632638  0.035907
2    0.948870  0.912971  0.092770  0.941394  0.640727  0.921253  0.433458
3    0.630865  0.590778  0.901841  0.995347  0.243208  0.071357  0.191515
4    0.313057  0.801960  0.528603  0.717681  0.988276  0.366634  0.201220
..        ...       ...       ...       ...       ...       ...       ...
995  0.473928  0.474775  0.716697  0.029080  0.842007  0.911014  0.095998
996  0.142257  0.862425  0.273439  0.858570  0.302537  0.286044  0.212404
997  0.573544  0.534774  0.950955  0.934034  0.759777  0.830759  0.814725
998  0.798035  0.542620  0.389889  0.883474  0.065782  0.449974  0.690260
999  0.949457  0.637949  0.262027  0.929399  0.014906  0.824983  0.208341

     column_8  column_9  column_10
0    0.459957  0.211621   0.133425
1    0.474658  0.901643   0.737454
2    0.431669  0.375684   0.892748
3    0.416722  0.189168   0.826141
4    0.868828  0.592170   0.190672
..        ...       ...        ...
995  0.342184  0.539094   0.729248
996  0.766513  0.921650   0.600746
997  0.129070  0.131065   0.109559
998  0.173740  0.284862   0.378458
999  0.151725  0.286538   0.210490

[1000 rows x 10 columns]

In [21]:
import numpy as np
import pandas as pd


rows = 1000

data1 = {
    "admissionid": np.arange(1,rows+1),
    "Age": np.random.randint(18, 30, size=rows),
    "department": np.random.choice(["cs", "bio", "maths", "ecom"], size=rows),
    "salary": np.random.uniform(20000, 60000, size=rows).astype(int),
    "joining_date": pd.date_range(start="2005-05-11", periods=rows, freq='min').strftime("%y-%m-%d")
}


df1 = pd.DataFrame(data1)


print(df1.head(5))

   admissionid  Age department  salary joining_date
0            1   28         cs   35634     05-05-11
1            2   28       ecom   20683     05-05-11
2            3   25         cs   37874     05-05-11
3            4   29         cs   56560     05-05-11
4            5   25      maths   32938     05-05-11

In [22]:
#df1.to_csv('test1.csv',index=False)

In [23]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
df1['dept_code']=le.fit_transform(df1['department'])
print(df1)

     admissionid  Age department  salary joining_date  dept_code
0              1   28         cs   35634     05-05-11          1
1              2   28       ecom   20683     05-05-11          2
2              3   25         cs   37874     05-05-11          1
3              4   29         cs   56560     05-05-11          1
4              5   25      maths   32938     05-05-11          3
..           ...  ...        ...     ...          ...        ...
995          996   19         cs   34791     05-05-11          1
996          997   23      maths   20970     05-05-11          3
997          998   19        bio   21718     05-05-11          0
998          999   26        bio   53360     05-05-11          0
999         1000   20        bio   39126     05-05-11          0

[1000 rows x 6 columns]

In [32]:
import pandas as pd
encoded_data=pd.get_dummies(df1["department"],prefix="department")

In [33]:
print(encoded_data)

     department_bio  department_cs  department_ecom  department_maths
0             False           True            False             False
1             False          False             True             False
2             False           True            False             False
3             False           True            False             False
4             False          False            False              True
..              ...            ...              ...               ...
995           False           True            False             False
996           False          False            False              True
997            True          False            False             False
998            True          False            False             False
999            True          False            False             False

[1000 rows x 4 columns]